<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>com.neevtech.droolsweb.util.AppServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.neevtech.droolsweb.web.LoginServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.neevtech.droolsweb.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
    
    <servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>home.jsp</servlet-name>
		<jsp-file>/jsp/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home.jsp</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>discountRuleDRL</servlet-name>
		<jsp-file>/discountRule.drl</jsp-file>
	</servlet>
	<servlet-mapping>
        <servlet-name>discountRuleDRL</servlet-name>
        <url-pattern>/drl</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>changeset</servlet-name>
		<jsp-file>/changeset.xml</jsp-file>
	</servlet>
	<servlet-mapping>
        <servlet-name>changeset</servlet-name>
        <url-pattern>/changeset</url-pattern>
    </servlet-mapping>
</web-app>